<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite data-provider-thread-count="1" name="MySuite" parallel="classes">
	<listeners>
    	<!--<listener class-name="config.ListenerClass"/>  -->
    </listeners>

    <test name="MyTest">
    <classes>
      <class name="cucumberOptions.TestNGTestRunner"/> 
      <!--<class name="com.core.config.TestConfig"/>  -->
    </classes>
    </test>
</suite>